node_modules/
uploads/
backups/
minecraft-server/world/
minecraft-server/logs/
.env
minecraft-server/banned-*.json
minecraft-server/ops.json
minecraft-server/usercache.json
minecraft-server/whitelist.json
minecraft-server/eula.txt
minecraft-server/server.properties
minecraft-server/user_jvm_args.txt
minecraft-server/*.jar
minecraft-server/libraries/
minecraft-server/versions/
minecraft-server/crash-reports/
*.log
.DS_Store
